@using SFA.DAS.FAA.Web.Infrastructure
@model SFA.DAS.FAA.Web.Models.BrowseByInterestViewModel
@{
    ViewData["Title"] = "Browse by your interests – Find an apprenticeship – GOV.UK";
}
@section BackLink {
    <a class="govuk-back-link" asp-route="@RouteNames.ServiceStartDefault">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <form class="form" method="post">
            <div class="govuk-form-group @(ViewData.ModelState[nameof(Model.SelectedRouteIds)]?.ValidationState == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid  ? "govuk-form-group--error" : "")">
                <span class="govuk-caption-l">Question 1 of 2</span>
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading" id="SelectedRouteIds">What interests you?</h1>
                    </legend>
                    <div class="govuk-hint govuk-!-margin-bottom-4">Select all that apply</div>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Business, finance and public services</legend>
                            <partial model="@Model.BusinessFinanceAndPublicServicesDictionary" name="_BrowseByInterestsPartial" />
                        </fieldset>
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Creative and service industries</legend>
                            <partial model="@Model.CreativeAndServiceIndustriesDictionary" name="_BrowseByInterestsPartial" />
                        </fieldset>
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Environment and agriculture</legend>
                            <partial model="@Model.EnvironmentAndAgricultureDictionary" name="_BrowseByInterestsPartial" />
                        </fieldset>
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">People and care</legend>
                            <partial model="@Model.PeopleAndCareDictionary" name="_BrowseByInterestsPartial" />
                        </fieldset>
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Technical and engineering</legend>
                            <partial model="@Model.TechnicalAndEngineeringDictionary" name="_BrowseByInterestsPartial" />
                        </fieldset>
                        
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
    </div>
</div>
