@using SFA.DAS.FAA.Web.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SFA.DAS.FAA.Web.Models.SearchResults.SearchApprenticeshipsViewModel
@{
    ViewData["Title"] = "Search apprenticeship – Find an apprenticeship – GOV.UK";
}
<div class="page--faa-homepage">
    @if (Model.ShowAccountCreatedBanner)
    {
        <partial name="_AccountCreatedBanner" />
    }
    @if (Model.ShowAccountDeletedBanner)
    {
        <partial name="_AccountDeletedBanner" />
    }
    @if (Model.ShowApprenticeshipWeekBanner)
    {
        <partial name="_NationalApprenticeshipWeekBanner" />
    }
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
                data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#@nameof(Model.WhereSearchTerm)">
                                    <span class="govuk-visually-hidden">Error:
                                    </span>@ViewData.ModelState[nameof(Model.WhereSearchTerm)]?.Errors.FirstOrDefault()?.ErrorMessage
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            }
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-3 faa-page-heading">Search apprenticeships</h1>
            <p class="govuk-hint govuk-!-font-size-24">@Model.TotalText</p>
        </div>
    </div>
    <div class="faa-home-panel">
        <form class="form" method="get">
            <input type="hidden" name="search" value="1" />
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-one-half govuk-grid-column-one-third-from-desktop">
                    <div
                    class="govuk-form-group @((ViewData.ModelState[nameof(Model.WhatSearchTerm)]?.ValidationState == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid) ? "govuk-form-group--error" : "")">

                        <label class="govuk-label govuk-label--m" for="WhatSearchTerm">
                            What
                        </label>
                        <span asp-validation-for="WhatSearchTerm" class="govuk-error-message"></span>
                        <div id="what-hint" class="govuk-hint">
                            Enter a job or company
                        </div>
                        <input asp-for="WhatSearchTerm" type="text" aria-describedby="what-hint" class="govuk-input"
                        id="WhatSearchTerm" autocomplete="off" />
                    </div>
                </div>
                <div class="govuk-grid-column-one-half govuk-grid-column-one-third-from-desktop">
                    <div
                    class="govuk-form-group @((ViewData.ModelState[nameof(Model.WhereSearchTerm)]?.ValidationState == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid) ? "govuk-form-group--error" : "")">

                        <label class="govuk-label govuk-label--m" for="WhereSearchTerm">
                            Where
                        </label>
                        <span asp-validation-for="WhereSearchTerm" class="govuk-error-message"></span>
                        <div id="where-hint" class="govuk-hint">
                            Enter a city or postcode
                        </div>
                        <input asp-for="WhereSearchTerm" type="text" type="search" spellcheck="false"
                        autocomplete="postal-code" aria-describedby="where-hint"
                        class="govuk-input faa-location-autocomplete" id="WhereSearchTerm" />
                    </div>
                </div>
            </div>
            <div class="govuk-button-group govuk-!-margin-bottom-0">
                <button class="govuk-button" data-module="govuk-button">Search</button>
                <a asp-route="@RouteNames.BrowseByInterests" class="govuk-link govuk-link--no-visited-state">Browse by
                    your interests instead</a>
            </div>
        </form>
    </div>
    @if (Model.SavedSearches.Any())
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m govuk-!-margin-top-8">Your search alerts</h2>
                @foreach (var savedSearch in Model.SavedSearches)
                {
                    <p class="govuk-body">
                        <a href="@savedSearch.SearchUrl" class="govuk-link">@savedSearch.Title</a>
                    </p>
                    <dl class="govuk-summary-list govuk-summary-list--no-border">

                        @if (savedSearch.SearchTerm is not null)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    What
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @savedSearch.SearchTerm
                                </dd>
                            </div>
                        }
                        @if (savedSearch.Location is not null)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Where
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @savedSearch.Location
                                    @if (savedSearch.ExcludeNational != null && (bool)savedSearch.ExcludeNational)
                                    {
                                        <p class="govuk-hint govuk-!-font-size-16 govuk-!-margin-top-1 faa-search-alert-hint">
                                            Hide companies recruiting nationally
                                        </p>
                                    }
                                </dd>
                            </div>
                        }
                        @if (savedSearch.SelectedRoutes?.Count is > 0)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Categories</dt>
                                <dd class="govuk-summary-list__value">
                                    <accessible-list items="@(savedSearch.SelectedRoutes.Select(category => $"{category}").ToList())"></accessible-list>
                                </dd>
                            </div>
                        }
                        @if (savedSearch.SelectedLevelIds?.Count is > 0)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Levels</dt>
                                <dd class="govuk-summary-list__value">
                                    <accessible-list items="@(savedSearch.SelectedLevelIds.Select(id => $"Level {id}").ToList())"></accessible-list>
                                </dd>
                            </div>
                        }
                        @if (savedSearch.DisabilityConfident)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Disability Confident
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Only show Disability Confident employers
                                </dd>
                            </div>
                        }
                    </dl>
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
                }
                <p><a asp-route="@RouteNames.SavedSearches" class="govuk-link">Manage your search alerts</a></p>
            </div>
        </div>
    }

</div>