@using SFA.DAS.FAA.Web.Infrastructure
@using SFA.DAS.FAA.Web.Models;
@model LocationViewModel
@section BackLink {
    <a class="govuk-back-link" asp-route="@RouteNames.BrowseByInterests" asp-all-route-data="@Model.RouteData">Back</a>
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial model="@ViewData.ModelState" name="_ValidationSummary" />
            <div class="govuk-form-group">
                <form class="form" method="post" id="CityOrPostcodeSelected">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Question 2 of 2</span>
                        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">What is your location?</h1>
                    </legend>
                    <span asp-validation-for="CityOrPostcodeSelected" class="govuk-error-message"></span>
                    <fieldset class="govuk-fieldset" aria-describedby="location-hint">
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" asp-for="CityOrPostcodeSelected" type="radio" value="true" aria-controls="conditional-location" aria-expanded="true">
                                <label class="govuk-label govuk-radios__label" for="CityOrPostcodeSelected">
                                    Enter a city or postcode
                                </label>
                            </div>
                            <div class="govuk-radios__conditional" id="conditional-location">
                                <label class="govuk-label" for="CityOrPostcode">
                                    City or postcode
                                </label>
                                <span asp-validation-for="CityOrPostcode" class="govuk-error-message"></span>
                                <input class="govuk-input govuk-!-width-one-third" asp-for="CityOrPostcode" type="text" spellcheck="false" autocomplete="postcode">
                                <label class="govuk-label" for="Distance" value="@Model.Distance">
                                    Distance you can travel
                                </label>
                                <select class="govuk-select" asp-for="@Model.Distance">
                                    <option value="2">2 miles</option>
                                    <option value="5">5 miles</option>
                                    <option value="10" selected>10 miles</option>
                                    <option value="15">15 miles</option>
                                    <option value="20">20 miles</option>
                                    <option value="30">30 miles</option>
                                    <option value="40">40 miles</option>
                                </select>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" asp-for="@Model.AllOfEnglandSelected" type="radio" value="true" data-aria-controls="conditional-location-2">
                                <label class="govuk-label govuk-radios__label" for="AllOfEnglandSelected">
                                    Search across all of England
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <div class="govuk-!-padding-bottom-3"></div>
                    <button class="govuk-button" data-module="govuk-button">Search apprenticeships</button>
                </form>
            </div>
        </div>
    </div>
</main>