@using SFA.DAS.FAA.Web.Infrastructure
@model SFA.DAS.FAA.Web.Models.SearchResultsViewModel
@section BackLink {
    @if (Model.SelectedRouteIds.Any())
    {
        <a class="govuk-back-link" asp-route="@RouteNames.Location" asp-all-route-data="@Model.RouteData">Back</a>
    }
    else
    {
        <a class="govuk-back-link" asp-route="@RouteNames.ServiceStartDefault">Back</a>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2"> @Model.TotalMessage </h1>
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5 ">
        <div class="das-search-results">
            <ol class="das-search-results__list">
                @foreach (var vacancy in Model.vacancies)
                {
                    <li class="das-search-results__list-item">
                        <h2 class="govuk-heading-m das-search-results__heading govuk-!-margin-bottom-1">
                            <a class="das-search-results__link" id="standard-274" href=#>
                                @vacancy.title
                            </a>
                        </h2>
                        <p class="govuk-body govuk-!-margin-bottom-0">@vacancy.employerName</p>
                        <p class="govuk-body govuk-hint">
                            @vacancy.vacancyLocation, @vacancy.vacancyPostCode
                        </p>
                        <p class="govuk-body govuk-!-margin-bottom-1"><b>Distance</b> TO DO</p>
                        <p class="govuk-body govuk-!-margin-bottom-1"><b>Training course</b> @vacancy.courseTitle (Level @vacancy.level)</p>
                        <p class="govuk-body"><b>Annual wage</b> £10,982.40</p>
                        <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">TODO </p>
                        <p class="govuk-body govuk-!-font-size-16 govuk-hint">
                            @vacancy.postedDate
                        </p>
                        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-5 govuk-!-margin-bottom-5 ">
                    </li>
                }
            </ol>
        </div>

    </div>
</div>
