@using SFA.DAS.FAA.Web.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WebEssentials.AspNetCore.CdnTagHelpers
@model SFA.DAS.FAA.Web.Models.SearchResults.SearchResultsViewModel
@{
    ViewData["Title"] = $"{Model.PageTitle} - Find an apprenticeship - GOV.UK";
}
@section BackLink {
    @if (Model.SelectedRouteIds != null && Model.SelectedRouteIds.Any())
    {
        <a class="govuk-back-link" asp-route="@RouteNames.Location" asp-all-route-data="@Model.RouteData">Back</a>
    }
    else
    {
        <a class="govuk-back-link" asp-route="@RouteNames.ServiceStartDefault">Back</a>
    }
}
@if (Model.ShowAccountCreatedBanner)
{
    <partial name="_AccountCreatedBanner" />
}
<h1 class="govuk-heading-l govuk-!-margin-bottom-8"> @Model.TotalMessage </h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="das-show-hide" data-module="das-show-hide">
            <div class="faa-filter das-!-show--from-tablet" id="faa-filter" tabindex="0">
                <div class="faa-filter__header">
                    <h2 class="govuk-heading-m faa-filter__heading">Filter</h2>
                </div>
                <partial name="_SelectedCategoriesFilter" />
                <div class="faa-filter__body das-!-show--from-tablet" id="faa-filter-options">
                    <form asp-route="@RouteNames.SearchResults" method="GET">
                        <div class="govuk-form-group">
                            <label for="SearchTerm"
                                class="govuk-label govuk-label--m govuk-!-margin-bottom-0">What</label>
                            <p class="govuk-hint">Enter a job or company</p>
                            <input asp-for="SearchTerm" type="text" class="govuk-input" id="SearchTerm" />
                        </div>
                        <div class="govuk-form-group">
                            <label for="location"
                                class="govuk-label govuk-label--m govuk-!-margin-bottom-0">Where</label>
                            <p class="govuk-hint">Enter a city or postcode</p>
                            <input class="govuk-input faa-location-autocomplete" value="@Model.Location" name="location"
                                id="location" type="search" spellcheck="false" autocomplete="postal-code"
                                aria-describedby="where-hint">
                            <label for="within" class="govuk-label govuk-!-margin-top-2">Within</label>
                            <select class="govuk-select" id="within" name="distance">
                                <option selected="@(Model.Distance == 2)" value="2">2 miles</option>
                                <option value="5" selected="@(Model.Distance == 5)">5 miles</option>
                                <option value="10" selected="@(Model.Distance == 10)">10 miles</option>
                                <option value="15" selected="@(Model.Distance == 15)">15 miles</option>
                                <option value="20" selected="@(Model.Distance == 20)">20 miles</option>
                                <option value="30" selected="@(Model.Distance == 30)">30 miles</option>
                                <option value="40" selected="@(Model.Distance == 40)">40 miles</option>
                                <option value="all" selected="@(Model.Distance == null)">Across England</option>
                            </select>
                        </div>
                        <div class="govuk-accordion" data-module="govuk-accordion" id="apprenticeship-filters">
                            <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button"
                                            id="apprenticeship-filters-heading-level">
                                            Apprenticeship level
                                            @if (Model.SelectedLevelCount != 0)
                                            {
                                                <span class="govuk-hint faa-filter__selected-hint" aria-hidden="true">
                                                    @Model.SelectedLevelCount.ToString() selected
                                                </span>
                                            }
                                        </span>
                                    </h2>
                                </div>
                                <div id="aapprenticeship-filters-level" class="govuk-accordion__section-content"
                                    aria-labelledby="apprenticeship-filters-level">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-visually-hidden">Apprenticeship level</legend>
                                        <p class="govuk-hint">Select the level you want to apply for</p>

                                        <partial name="_FilterDetails"
                                            Model="@Model.FilterChoices.CourseLevelsChecklistDetails" />
                                    </fieldset>
                                    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-3">
                                        <a class="govuk-link govuk-link--no-visited-state"
                                            href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels"
                                            target="_blank" rel="external">
                                            What qualification levels mean (opens in new tab)
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="govuk-accordion__section">
                                <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <span class="govuk-accordion__section-button"
                                            id="apprenticeship-filters-heading-categories">
                                            Job categories
                                            @if (Model.SelectedRouteCount != 0)
                                            {
                                                <span class="govuk-hint faa-filter__selected-hint"
                                                    aria-hidden="true">@Model.SelectedRouteCount.ToString() selected</span>
                                            }
                                        </span>
                                    </h2>
                                </div>
                                <div id="apprenticeship-filters-categories" class="govuk-accordion__section-content"
                                    aria-labelledby="govuk-accordion__section-content">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-visually-hidden">Job categories</legend>
                                        <partial name="_FilterDetails"
                                            Model="@Model.FilterChoices.JobCategoryChecklistDetails" />
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="govuk-form-group">
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Disability Confident</h2>
                            <p class="govuk-hint">Employers who have committed to support disabled people at work</p>
                            <div class="govuk-checkboxes govuk-checkboxes--small">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="DisabilityConfident"
                                        name="DisabilityConfident" type="checkbox" value="true"
                                        checked="@Model.DisabilityConfident" />
                                    <label class="govuk-label govuk-checkboxes__label" asp-for="DisabilityConfident">
                                        Only show Disability Confident employers
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5 ">
                        <button type="submit" class="govuk-button govuk-!-margin-bottom-1">Apply filters</button>
                    </form>
                </div>
            </div>
            <button class="govuk-button govuk-button--secondary das-filter__toggle das-show-hide__button"
                data-aria-controls="faa-filter@(Model.ShowFilterOptions ? "-options" : "")"
                data-button-string="filter @(Model.ShowFilterOptions ? " options" : "")"
                data-focus-id="SearchTerm">Show/hide</button>

        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
        @if (Model.Total == 0 || Model.NoSearchResultsByUnknownLocation)
        {
            <partial name="_NoSearchResult" model="Model" />
        }
        else
        {
            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <p><a href="#maps" class="govuk-link govuk-link--no-visited-state" id="map-link">View map</a></p>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="faa-search-results-sort">
                        <label class="govuk-label faa-search-results-sort__label" for="sort-results">Sort results</label>
                        <select class="govuk-select faa-search-results-sort__select" id="sort-results" name="sort">
                            <option value="AgeAsc" selected="@(Model.Sort == "AgeAsc")">Most recent</option>
                            <option value="DistanceAsc" selected="@(Model.Sort == "DistanceAsc")">Distance</option>
                            <option value="ClosingAsc" selected="@(Model.Sort == "ClosingAsc")">Closing soon</option>
                            <option value="SalaryDesc" selected="@(Model.Sort == "SalaryDesc")">Salary high to low</option>
                            <option value="SalaryAsc" selected="@(Model.Sort == "SalaryAsc")">Salary low to high</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr class="govuk-section-break govuk-section-break--visible">
            <div class="das-search-results">
                <ol class="das-search-results__list">
                    @foreach (var vacancy in Model.Vacancies)
                    {
                        <li class="das-search-results__list-item">
                            @if (vacancy.IsClosingSoon)
                            {
                                <strong class="govuk-tag govuk-tag--orange govuk-!-margin-bottom-2">
                                    Closing soon
                                </strong>
                            }
                            @if (vacancy.IsNew)
                            {
                                <strong class="govuk-tag govuk-!-margin-bottom-2">
                                    New
                                </strong>
                            }
                            @if (vacancy.ApplicationStatus != null)
                            {
                                <application-status-badge status="@vacancy.ApplicationStatus"></application-status-badge>
                            }
                            <h2 class="govuk-heading-m das-search-results__heading govuk-!-margin-bottom-1">
                                <a asp-route="@RouteNames.Vacancies" asp-route-vacancyReference="@vacancy.VacancyReference"
                                    class="das-search-results__link" id="standard-274">
                                    @vacancy.Title
                                </a>
                            </h2>
                            <p class="govuk-body govuk-!-margin-bottom-0">@vacancy.EmployerName</p>
                            <p class="govuk-body govuk-hint">
                                @vacancy.VacancyLocation, @vacancy.VacancyPostCode
                            </p>
                            @if (Model.NationalSearch == false)
                            {
                                <p class="govuk-body govuk-!-margin-bottom-1"><b>Distance</b> @vacancy.Distance miles</p>
                            }
                            <p class="govuk-body govuk-!-margin-bottom-1"><b>Training course</b> @vacancy.CourseTitle</p>
                            <p class="govuk-body"><b>Annual wage</b> @vacancy.WageText</p>
                            <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">
                                Closes in
                                @vacancy.DaysUntilClosing days (@vacancy.AdvertClosing)
                            </p>
                            <p class="govuk-body govuk-!-font-size-16 govuk-hint">
                                Posted @vacancy.PostedDate
                            </p>
                            @if (@vacancy.IsDisabilityConfident)
                            {
                                <img src="/img/disability-confident.svg" class="faa-disability-confident--srp"
                                    alt="Disability Confident" no-cdn />
                            }
                        </li>
                    }
                </ol>
            </div>
        }
    </div>
</div>
<div id="map" class="faa-map__container"></div>
@if (Model.Total != 0 && !Model.NoSearchResultsByUnknownLocation)
{
    <partial name="_Pagination" Model="@Model.PaginationViewModel" />
}
@section AfterJSScripts {
    <script>
        const roles = @Html.Raw(Json.Serialize(Model.MapData));
        const mapLink = document.getElementById('map-link')
        const mapContainer = document.getElementById('map')
        if (mapLink && mapContainer) {
            new FaaMap("@Model.MapId", mapLink, mapContainer, roles, 52.400575, -1.507825).init()
        }
    </script>
}