@using SFA.DAS.FAA.Web.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SFA.DAS.FAA.Web.Models.Apply.AddEmploymentLocationsViewModel
@{
    ViewData["Title"] = "Where do you want to apply for? – Find an apprenticeship – GOV.UK";
}

@section BackLink {
    <a class="govuk-back-link" href="@Url.RouteUrl(RouteNames.Apply, new { Model.ApplicationId })">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Locations</span>
        <partial name="_ValidationSummary" />
        <form class="form" method="post">
            <div class="govuk-form-group @(ViewData.ModelState[nameof(Model.SelectedAddressIds)]?.ValidationState == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid  ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset" aria-describedby="location-preference">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Where do you want to apply for?
                        </h1>
                    </legend>
                    <div id="waste-hint" class="govuk-hint">
                        Select all that apply
                    </div>
                    <span asp-validation-for="SelectedAddressIds" class="govuk-error-message"></span>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes" id="SelectedAddressIds">
                        @foreach (var address in Model.Addresses)
                        {
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="@address.Id" name="SelectedAddressIds" checked="@address.IsSelected" type="checkbox" value="@address.Id">
                                <label class="govuk-label govuk-checkboxes__label" for="@address.Id">
                                    @address.FullAddress
                                </label>
                            </div>    
                        }
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group" href="#">
                <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
            </div>
        </form>
    </div>
</div>