@using SFA.DAS.FAA.Web.Infrastructure
@using SFA.DAS.FAA.Web.Models.User
@model EnterAddressManuallyViewModel
@{
    ViewBag.Title = "What is your address? – Find an apprenticeship – GOV.UK";
}
@section BackLink {
    <a class="govuk-back-link" asp-route="@Model.BackLink" asp-route-postcode="@Model.SelectAddressPostcode">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <form class="form" method="post">
            <input type="hidden" asp-for="BackLink" />
            <span class="govuk-caption-l">Create an account</span>
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        What is your address?
                    </h1>
                </legend>
                <p class="govuk-body">Use the address you want to appear on your applications</p>

                <div class="govuk-form-group @((ViewData.ModelState[nameof(Model.AddressLine1)]?.ValidationState == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid)  ? "govuk-form-group--error" : "")">
                    <label class="govuk-label" asp-for="AddressLine1">
                        Address line 1
                    </label>
                    <span asp-validation-for="AddressLine1" class="govuk-error-message"></span>
                    <input class="govuk-input" asp-for="AddressLine1" type="text" autocomplete="address-line1">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" asp-for="AddressLine2">
                        Address line 2 (optional)
                    </label>
                    <input class="govuk-input" asp-for="AddressLine2" type="text" autocomplete="address-line2">
                </div>

                <div class="govuk-form-group @((ViewData.ModelState[nameof(Model.TownOrCity)]?.ValidationState == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid)  ? "govuk-form-group--error" : "")">
                    <label class="govuk-label" asp-for="TownOrCity">
                        Town or city
                    </label>
                    <span asp-validation-for="TownOrCity" class="govuk-error-message"></span>
                    <input class="govuk-input govuk-!-width-two-thirds" asp-for="TownOrCity" type="text" autocomplete="address-level2">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" asp-for="County">
                        County (optional)
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" asp-for="County" type="text">
                </div>

                <div class="govuk-form-group @((ViewData.ModelState[nameof(Model.Postcode)]?.ValidationState == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid)  ? "govuk-form-group--error" : "")">
                    <label class="govuk-label" asp-for="Postcode">
                        Postcode
                    </label>
                    <span asp-validation-for="Postcode" class="govuk-error-message"></span>
                    <input class="govuk-input govuk-input--width-10" asp-for="Postcode" type="text" autocomplete="postal-code">
                </div>

            </fieldset>
            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>