@using SFA.DAS.FAA.Web.Infrastructure
@using SFA.DAS.FAA.Web.Models.User
@model SelectAddressViewModel
@{
    ViewBag.Title = "Select your address – Find an apprenticeship – GOV.UK";
}
@section BackLink {
    <a class="govuk-back-link" asp-route="@RouteNames.PostcodeAddress">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <span class="govuk-caption-l">Create an account</span>
        <h1 class="govuk-heading-l">Select your address</h1>

        <h2 class="govuk-heading-m">Postcode</h2>
        <p class="govuk-body"><strong>@Model.Postcode</strong> <a class="govuk-link" asp-route="@RouteNames.PostcodeAddress">Change</a></p>

        <form class="form" method="post">
            <input type="hidden" asp-for="Postcode" />
            <div class="govuk-form-group @((ViewData.ModelState[nameof(Model.SelectedAddress)]?.ValidationState == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid) ? "govuk-form-group--error" : "")">
                @if (Model.Addresses.Count == 1)
                {
                    <div id="location-hint" class="govuk-hint">

                        1 address found
                    </div>
                }
                else
                {
                    <div id="location-hint" class="govuk-hint">
                        @Model.Addresses.Count addresses found
                    </div>
                }
                <span asp-validation-for="SelectedAddress" class="govuk-error-message"></span>
                <select class="govuk-select" asp-for="SelectedAddress" aria-describedby="addresses-found">
                    <option value="choose" selected>Select address</option>
                    @foreach (var address in Model.Addresses)
                    {
                        if (address.Thoroughfare != address.AddressLine1)
                        {
                            <option value="@address.Uprn">@address.AddressLine1, @address.Thoroughfare</option>
                        }
                        else if (string.IsNullOrWhiteSpace(address.AddressLine1) && string.IsNullOrWhiteSpace(address.Thoroughfare) && !string.IsNullOrWhiteSpace(address.Organisation))
                        {
                            <option value="@address.Uprn">@address.Organisation, @address.PostTown</option>
                        }
                        else
                        {
                            <option value="@address.Uprn">@address.AddressLine1</option>
                        }
                    }
                </select>
            </div>

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
                <a class="govuk-link" asp-route="@RouteNames.EnterAddressManually" asp-route-selectAddressPostcode="@Model.Postcode" asp-route-backLink="@RouteNames.SelectAddress">
                    Enter address manually
                </a>
            </div>
        </form>
    </div>
</div>
