@using SFA.DAS.FAA.Web.Infrastructure
@using SFA.DAS.FAA.Domain.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.FAA.Web.Models.Applications
@model SFA.DAS.FAA.Web.Models.Vacancy.VacancyDetailsViewModel
@{
    ViewData["Title"] = Model.Title!;
}
@section BackLink {
    <a class="govuk-back-link" asp-route="@RouteNames.SearchResults">Back</a>
}
@if (Model.ApplicationDetails is { Status: ApplicationStatus.Submitted} or {Status : ApplicationStatus.Successful} or {Status : ApplicationStatus.Unsuccessful})
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        You submitted an application for this apprenticeship on @Model.ApplicationDetails.SubmittedDate.
                    </p>
                    <p class="govuk-body">Check its status in your 
                        <a class="govuk-notification-banner__link" asp-route="@RouteNames.Applications.ViewApplications" asp-route-tab="@ApplicationsTab.Submitted">submitted applications</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
}
@if (Model.ApplicationDetails is { Status: ApplicationStatus.Draft })
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        Application started.
                        <a class="govuk-notification-banner__link" asp-route="@RouteNames.Apply" asp-route-ApplicationId="@Model.ApplicationDetails.ApplicationId">Continue your application</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
}
@if (Model.ApplicationDetails is { Status: ApplicationStatus.Withdrawn })
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        You withdrew your application for this apprenticeship on @Model.ApplicationDetails.WithdrawnDate.
                    </p>
                </div>
            </div>
        </div>
    </div>
}
<div itemscope itemtype="https://schema.org/JobPosting" class="faa-vacancy-content">
    <h1 class="govuk-heading-l faa-vacancy__title"><span itemprop="title">@Model.Title</span></h1>
    <p class="govuk-body-l faa-vacancy__organisation"><span itemprop="hiringOrganization">@Model.EmployerName</span></p>
    <p class="govuk-body-l faa-vacancy__location">
        <span itemprop="jobLocation">
            @Model.WorkLocation.AddressLine3, @Model.WorkLocation.Postcode
        </span>
    </p>
    <p class="govuk-body faa-vacancy__closing-date">@Model.ClosingDate</p>
    <p class="govuk-body govuk-!-font-size-16 faa-vacancy-grey-text">@Model.PostedDate</p>
    <div class="faa-vacancy-actions">
        <a href="#favs" class="govuk-link govuk-link--no-visited-state faa-vacancy-actions__link">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="faa-vacancy-actions__icon">
                <path fill="currentColor"
                      d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z" />
            </svg>Favourite this vacancy
        </a>
        <a href="#print"
           class="govuk-link govuk-link--no-visited-state faa-vacancy-actions__link faa-vacancy-actions__link--print">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="faa-vacancy-actions__icon">
                <path fill="currentColor"
                      d="M128 0C92.7 0 64 28.7 64 64v96h64V64H354.7L384 93.3V160h64V93.3c0-17-6.7-33.3-18.7-45.3L400 18.7C388 6.7 371.7 0 354.7 0H128zM384 352v32 64H128V384 368 352H384zm64 32h32c17.7 0 32-14.3 32-32V256c0-35.3-28.7-64-64-64H64c-35.3 0-64 28.7-64 64v96c0 17.7 14.3 32 32 32H64v64c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V384zM432 248a24 24 0 1 1 0 48 24 24 0 1 1 0-48z" />
            </svg>Print
        </a>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third faa-contents">
            <h2 class="govuk-body-s faa-contents__heading">
                Contents
            </h2>
            <ul class="govuk-list govuk-!-font-size-16 faa-contents__list">
                <li class="faa-contents__list-item">
                    <a class="govuk-link faa-contents__link" href="#summary">
                        Summary
                    </a>
                </li>
                <li class="faa-contents__list-item">
                    <a class="govuk-link faa-contents__link" href="#work">
                        Work
                    </a>
                </li>
                <li class="faa-contents__list-item">
                    <a class="govuk-link faa-contents__link" href="#training">
                        Training
                    </a>
                </li>
                <li class="faa-contents__list-item">
                    <a class="govuk-link faa-contents__link" href="#requirements">
                        Requirements
                    </a>
                </li>
                <li class="faa-contents__list-item">
                    <a class="govuk-link faa-contents__link" href="#company">
                        About this company
                    </a>
                </li>
                <li class="faa-contents__list-item">
                    <a class="govuk-link faa-contents__link" href="#after">
                        After this apprenticeship
                    </a>
                </li>
                <li class="faa-contents__list-item">
                    <a class="govuk-link faa-contents__link" href="#question">
                        Ask a question
                    </a>
                </li>
                <li class="faa-contents__list-item">
                    <a class="govuk-link faa-contents__link" href="#apply">
                        Apply now
                    </a>
                </li>
            </ul>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <section class="faa-vacancy__section faa-vacancy__section--first" id="summary">
                <h2 class="govuk-heading-m">Summary</h2>
                <p>
                    @Model.VacancySummary
                </p>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Annual wage
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.AnnualWage
                            <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-0">
                                <a href="https://www.gov.uk/national-minimum-wage-rates" class="govuk-link"
                                   rel="noreferrer noopener" target="_blank">
                                    Minimum wage rates (opens in new
                                    tab)
                                </a>
                            </p>
                            <p class="govuk-body govuk-!-padding-top-3">
                                The pay may be negotiated and may rise after a probation period
                                has been successfully completed.
                            </p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Training course
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.CourseTitle
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Hours
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.WorkingPattern
                            <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-0 govuk-!-padding-top-1">
                                @Model.HoursPerWeek
                            </p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Possible start date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@Model.StartDate</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Duration
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@Model.Duration</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Positions available
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@Model.PositionsAvailable</p>
                        </dd>
                    </div>
                </dl>
            </section>
            <section class="faa-vacancy__section" id="work">
                <h2 class="govuk-heading-m">Work</h2>
                <p class="govuk-hint">
                    As an apprentice, you’ll work at a company and get hands-on experience. You’ll gain new skills and
                    work alongside experienced staff.
                </p>
                <h3 class="govuk-heading-s">What you’ll do at work</h3>
                <p>@Html.Raw(Model.WorkDescription)</p>
                <h3 class="govuk-heading-s">Where you’ll work</h3>
                <p class="govuk-body govuk-!-margin-bottom-0">@Model.WorkLocation.AddressLine1</p>
                <p class="govuk-body govuk-!-margin-bottom-0">@Model.WorkLocation.AddressLine2</p>
                <p class="govuk-body govuk-!-margin-bottom-0">@Model.WorkLocation.AddressLine3</p>
                <p class="govuk-body govuk-!-margin-bottom-0">@Model.WorkLocation.AddressLine4</p>
                <p class="govuk-body govuk-!-margin-bottom-0">@Model.WorkLocation.Postcode</p>
            </section>
            <section class="faa-vacancy__section" id="training">
                <h2 class="govuk-heading-m">Training</h2>
                <p class="gov-body faa-vacancy-grey-text">
                    An apprenticeship includes regular training with a college or
                    other training organisation. At least 20% of your working hours will be spent training or studying.
                </p>
                <h3 class="govuk-heading-s">College or training organisation</h3>
                <p>@Model.TrainingProviderName</p>
                <h3 class="govuk-heading-s">Your training course</h3>
                <p class="govuk-body govuk-!-margin-bottom-1">@Model.CourseTitle</p>
                <p class="gov-body faa-vacancy-grey-text">Equal to @Model.CourseLevelMapper</p>
                <details class="govuk-details govuk-!-margin-top-0" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Course contents
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        @if (Model.CourseSkills is { Count: > 0 })
                        {
                            @foreach (var skills in Model.CourseSkills)
                            {
                                <li>@skills</li>
                                <div class="govuk-!-padding-bottom-3"></div>
                            }
                        }
                        @if (Model.CourseCoreDuties is { Count: > 0 })
                        {
                            @foreach (var skills in Model.CourseCoreDuties)
                            {
                                <li>@skills</li>
                                <div class="govuk-!-padding-bottom-3"></div>
                            }
                        }
                    </div>
                </details>
                <h3 class="govuk-heading-s">Your training plan</h3>
                @if(string.IsNullOrEmpty(Model.TrainingPlan))
                {
                    <div class="govuk-inset-text">
                        This training plan has not been finalised. Check with this employer if you’ll need to travel to a college or
                        training
                        location for this apprenticeship. </div>
                }
                else
                {
                    <p>Model.TrainingPlan</p>
                }
                @if(!string.IsNullOrEmpty(Model.AdditionalTrainingInformation))
                {
                    <h3 class="govuk-heading-s">More training information</h3>
                    <p>@Model.AdditionalTrainingInformation</p>
                }
            </section>
            <section class="faa-vacancy__section" id="requirements">
                <h2 class="govuk-heading-m">Requirements</h2>
                @if (Model.EssentialQualifications is { Count: > 0 })
                {
                    <h3 class="govuk-heading-s">Essential qualifications</h3>
                    <p>@Model.EssentialQualifications.FirstOrDefault()?.QualificationType in:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        @foreach (var qualification in Model.EssentialQualifications)
                        {
                            <li>@qualification.Subject (grade @qualification.Grade)</li>
                        }
                    </ul>
                }
                @if (Model.DesiredQualifications is { Count: > 0 })
                {
                    <h3 class="govuk-heading-s">Desirable qualifications</h3>
                    <p>@Model.DesiredQualifications.FirstOrDefault()?.QualificationType in:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        @foreach (var qualification in Model.DesiredQualifications)
                        {
                            <li>@qualification.Subject (grade @qualification.Grade)</li>
                        }
                    </ul>
                }
                <p class="govuk-body">
                    Let the company know about other relevant qualifications and industry experience you have. They can
                    adjust the apprenticeship to reflect what you already know.
                </p>
                <h3 class="govuk-heading-s">Skills</h3>
                <p>
                    <ul class="govuk-list govuk-list--bullet">
                        @foreach (var skills in Model.Skills)
                        {
                            <li>@skills</li>
                        }
                    </ul>
                </p>
                <h3 class="govuk-heading-s">Other requirements</h3>
                @if (!string.IsNullOrEmpty(Model.ThingsToConsider))
                {
                    <p>@Model.ThingsToConsider</p>
                }
            </section>
            <section class="faa-vacancy__section" id="company">
                <h2 class="govuk-heading-m">About this company</h2>
                <p>
                    @Html.Raw(Model.EmployerDescription)
                </p>
                @if (!string.IsNullOrEmpty(Model.EmployerWebsite))
                {
                    <p class="govuk-body">
                        <a href="@Model.EmployerWebsite" class="govuk-link" rel="noreferrer noopener"
                           target="_blank">@Model.EmployerWebsite (opens in new tab)</a>
                    </p>
                }
                @if(!string.IsNullOrEmpty(Model.CompanyBenefits))
                {
                    <h3 class="govuk-heading-s">Company benefits</h3>
                    <p>
                        @Html.Raw(Model.CompanyBenefits)
                    </p>                
                }

                @if (Model.IsDisabilityConfident)
                {
                    <h3 class="govuk-heading-s">Disability Confident</h3>
                    <p class="govuk-body">This employer has committed to support disabled people at work.</p>
                    <p class="govuk-body">
                        As part of this commitment, this company will try to offer an interview to
                        everyone who:
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>has a disability or health condition</li>
                        <li>meets the minimum requirements for this apprenticeship</li>
                    </ul>
                    <p class="govuk-body">
                        This company will try to meet this commitment, but can’t always. For example, if an
                        apprenticeship is particularly
                        popular, this company may have to limit the amount of interviews they offer.
                    </p>
                    <img src="/img/disability-confident.svg" class="faa-disability-confident--srp"
                         alt="Disability Confident" width="150px" no-cdn />
                }
            </section>
            <section class="faa-vacancy__section" id="after">
                <h2 class="govuk-heading-m">After this apprenticeship</h2>
                <p>
                    @Html.Raw(Model.OutcomeDescription)
                </p>
            </section>
            <section class="faa-vacancy__section" id="question">
                <h2 class="govuk-heading-m">Ask a question</h2>
                <p>
                    The contact for this apprenticeship is:
                </p>
                <p class="govuk-body govuk-!-margin-bottom-0">@Model.ContactOrganisationName</p>
                <p class="govuk-body govuk-!-margin-bottom-0">@Model.ContactName</p>
                <p class="govuk-body govuk-!-margin-bottom-0">@Model.ContactEmail</p>
                <p class="govuk-body">@Model.ContactPhone</p>
                <p class="govuk-body govuk-!-margin-top-4">
                    The reference code for this apprenticeship is
                    @Model.VacancyReference.
                </p>
            </section>
            <section class="faa-vacancy__section faa-vacancy__section--last" id="apply">
                
                
                    @if (User.Identity is { IsAuthenticated: false })
                    {
                        <h2 class="govuk-heading-m">Apply now</h2>
                        <p>@Model.ClosingDate</p>
                        <p class="govuk-body"> When you apply, you’ll be asked to sign in with a GOV.UK One Login. You can create one at the same time as applying for this apprenticeship.</p>
                        <form class="form" method="post">

                            <div class="govuk-button-group" href="govuk-one-login/sign-in-or-create.html">
                                <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                                    Sign in to apply
                                </button>
                            </div>
                        </form>
                    }
                    else
                    {
                        if (Model.ApplicationDetails is { Status: ApplicationStatus.Submitted } or { Status : ApplicationStatus.Successful } or { Status : ApplicationStatus.Unsuccessful })
                        {
                        }
                        else
                        {
                            <h2 class="govuk-heading-m">Apply now</h2>
                            <p>@Model.ClosingDate</p>
                            <p class="govuk-body"> When you apply, you’ll be asked to sign in with a GOV.UK One Login. You can create one at the same time as applying for this apprenticeship.</p>
                            <form class="form" method="post">
                                <div class="govuk-button-group" href="govuk-one-login/sign-in-or-create.html">
                                    <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                                        @(Model.ApplicationDetails !=null && Model.ApplicationDetails.Status == ApplicationStatus.Draft ? "Continue your application":" Apply for apprenticeship")
                                    </button>
                                </div>
                            </form>
                        }
                    }
                    
                    
            </section>
        </div>
    </div>
</div>