@using SFA.DAS.FAA.Domain.Enums
@using SFA.DAS.FAA.Web.TagHelpers
@model SFA.DAS.FAA.Web.Models.Vacancy.VacancyDetailsViewModel
@if (Model is { IsClosed: false })
{
    @section BackLink {
        <a class="govuk-back-link" href="@Model.BackLinkUrl">Back</a>
    }
}
@if (Model.VacancySource == VacancyDataSource.Raa)
{
    <div asp-show="@Model.ShowAccountCreatedBanner" class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-banner style="@BannerStyle.Success">
                <govuk-banner-heading>Find an apprenticeship account created.</govuk-banner-heading>
                <p class="govuk-body">You can now apply for this apprenticeship.</p>
            </govuk-banner>
        </div>
    </div>
    
    <div asp-show="@Model.ShowSignedInBanner" class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-banner style="@BannerStyle.Important">
                <govuk-banner-heading>You are signed in.</govuk-banner-heading>
                <p class="govuk-body">You can now apply for this apprenticeship.</p>
            </govuk-banner>
        </div>
    </div>
    
    ViewData["Title"] = !Model.IsClosed
        ? $"{Model.Title!} – Find an apprenticeship – GOV.UK"
        : "You can no longer apply for this apprenticeship – Find an apprenticeship – GOV.UK";

    <partial name="_RaaVacancy" model="Model" />

    if (@Model.EmployerLocationOption is not AvailableWhere.AcrossEngland && Model.ShowMap)
    {
        @section AfterJSScripts {
            <script>
                const directionsForm = document.getElementById('faa-directions-form')
                const directionsMap = document.getElementById('faa-directions-map')
                if (directionsForm && directionsMap) {
                    let mapLocations = @Html.Raw(Json.Serialize(Model.MapLocations)) ?? [];
                    mapLocations = mapLocations.length > 1 ? mapLocations : [];
                    new FaaMapDirections("@Model.GoogleMapsId", @Model.Longitude, @Model.Latitude, "@Model.WorkLocation.Postcode", mapLocations,  directionsForm, directionsMap).init()
                }
            </script>
        }
    }
}
else if (Model.VacancySource == VacancyDataSource.Csj)
{
    ViewData["Title"] = "See more details about this apprenticeship on Civil Service Jobs - Find an apprenticeship - GOV.UK";
    <partial name="_CsjVacancy" model="Model" />
    }
else if (Model.VacancySource == VacancyDataSource.Nhs)
{
    ViewData["Title"] = "See more details about this apprenticeship on NHS Jobs - Find an apprenticeship - GOV.UK";
    <partial name="_NhsVacancy" model="Model" />
}