@using SFA.DAS.FAA.Domain.Enums
@model SFA.DAS.FAA.Web.Models.Vacancy.VacancyDetailsViewModel
@if (Model is { IsClosed: false })
{
    @section BackLink {
        <a class="govuk-back-link" href="@Model.BackLinkUrl">Back</a>
    }
}
@switch (Model.VacancySource)
{
    case VacancyDataSource.Raa:
    {
        if (Model.ShowAccountCreatedBanner)
        {
            <partial name="_AccountCreatedBanner" />
        }
        ViewData["Title"] = !Model.IsClosed
            ? $"{Model.Title!} – Find an apprenticeship – GOV.UK"
            : "You can no longer apply for this apprenticeship – Find an apprenticeship – GOV.UK";

        <partial name="_RaaVacancy" model="Model" />

        if (@Model.EmployerLocationOption is not AvailableWhere.AcrossEngland && Model.ShowMap)
        {
            <text>
                @section AfterJSScripts
                  {
                      <script>
                        const directionsForm = document.getElementById('faa-directions-form')
                        const directionsMap = document.getElementById('faa-directions-map')
                        if (directionsForm && directionsMap) {
                            let mapLocations = @Html.Raw(Json.Serialize(Model.MapLocations)) ?? [];
                            mapLocations = mapLocations.length > 1 ? mapLocations : [];
                            new FaaMapDirections("@Model.GoogleMapsId", @Model.Longitude, @Model.Latitude, "@Model.WorkLocation.Postcode", mapLocations,  directionsForm, directionsMap).init()
                        }       
                       </script>
                  }
            </text>
        }
        break;
    }
    case VacancyDataSource.Nhs:
        ViewData["Title"] = "See more details about this apprenticeship on NHS Jobs - Find an apprenticeship - GOV.UK";
        <partial name="_NhsVacancy" model="Model" />
        break;
    case VacancyDataSource.Csj:
        ViewData["Title"] = "See more details about this apprenticeship on CSJ Jobs - Find an apprenticeship - GOV.UK";
        <partial name="_CsjVacancy" model="Model" />
        break;
}