@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SFA.DAS.FAA.Web.Models.Vacancy.VacancyDetailsViewModel

@section BackLink {
    <a class="govuk-back-link" href="@Model.BackLinkUrl">Back</a>
}

@if (Model.ShowAccountCreatedBanner)
{
    <partial name="_AccountCreatedBanner" />
}
@if (Model.IsClosed)
{
    ViewData["Title"] = "You can no longer apply for this apprenticeship – Find an apprenticeship – GOV.UK";
    
    <partial name="_ClosedVacancy" model="Model" />
}
else
{
    ViewData["Title"] = $"{Model.Title!} – Find an apprenticeship – GOV.UK";
    
    <partial name="_LiveVacancy" model="Model"/>
}

@section AfterJSScripts {
    <script>
        const directionsForm = document.getElementById('faa-directions-form')
        const directionsMap = document.getElementById('faa-directions-map')

        if (directionsForm && directionsMap) {
            new FaaMapDirections("@Model.GoogleMapsId", @Model.Longitude, @Model.Latitude, "@Model.WorkLocation.Postcode", directionsForm, directionsMap).init()
        }
    </script>
}