@using SFA.DAS.FAA.Web.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SFA.DAS.FAA.Web.Models.Apply.DeleteQualificationsViewModel
@{
    ViewData["Title"] = $"{Model.PageTitle} – Find an apprenticeship – GOV.UK ";
}

@section BackLink {
    <a class="govuk-back-link" href="@Url.RouteUrl(RouteNames.ApplyApprenticeship.Qualifications, new { Model.ApplicationId })">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <span class="govuk-caption-l">Education history</span>
        <h1 class="govuk-heading-l">@Model.PageTitle</h1>

        <div class="govuk-summary-card faa-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">@Model.DisplayName</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">

                    @foreach (var qualification in Model.Qualifications)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @qualification.Subject
                                @if (Model.ShowAdditionalInformation)
                                {
                                    <p class="govuk-body govuk-!-margin-top-1" style="color:#505a5f">@qualification.AdditionalInformation</p>
                                }
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @qualification.GradeLabel
                            </dd>
                        </div>
                    }
                </dl>
            </div>
        </div>

        <form method="post">
            @Html.HiddenFor(x => x.QualificationReferenceId)
            @Html.HiddenFor(x => x.Id)
            <div class="govuk-button-group">
                <button class="govuk-button govuk-button--warning" data-module="govuk-button">
                    Yes, delete
                </button>
                <a class="govuk-link" href="@Url.RouteUrl(RouteNames.ApplyApprenticeship.Qualifications, new { Model.ApplicationId })">Cancel – don't delete</a>
            </div>
    
        </form>
    
    </div>
</div>
           
