@using SFA.DAS.FAA.Web.Infrastructure
@model SFA.DAS.FAA.Web.Models.Apply.DeleteJobViewModel
@{
    ViewData["Title"] = "Do you want to delete this job? - Find an apprenticeship – GOV.UK";
}


@section BackLink {
    <a class="govuk-back-link" href="@Url.RouteUrl(RouteNames.ApplyApprenticeship.Jobs, new { Model.ApplicationId })">Back</a>
}
  <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Work history</span>
            <h1 class="govuk-heading-l">Do you want to delete this job?</h1>


            <div class="govuk-summary-card faa-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">@Model.JobTitle , @Model.EmployerName</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Responsibilities
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="faa-user-content">@Model.JobDescription</div>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Dates
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.JobDates
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>



            <form class="form" method="post">
                <div class="govuk-button-group">
                    <button class="govuk-button govuk-button--warning" data-module="govuk-button">
                        Yes, delete
                    </button>
                    <a class="govuk-link" href="@Url.RouteUrl(RouteNames.ApplyApprenticeship.Jobs, new { Model.ApplicationId })">Cancel – don't delete</a>
                </div>
            </form>



        </div>
    </div>
