@using SFA.DAS.FAA.Web.Infrastructure
@using SFA.DAS.FAA.Web.Models.Applications
@model SFA.DAS.FAA.Web.Models.Applications.IndexViewModel.Application
<li class="das-search-results__list-item govuk-!-margin-bottom-4">
    @if (Model.IsClosingSoon)
    {
        <strong class="govuk-tag govuk-tag--orange govuk-!-margin-bottom-2">Closing soon</strong>
    }
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
        <a class="govuk-link govuk-link--no-visited-state"
            href="@Url.RouteUrl(RouteNames.Vacancies, new { Model.VacancyReference, source = "applications", tab = ApplicationsTab.Started })">
            @Model.Title
        </a>
        <span style="right:0px;">
            <govuk-tag-foundation asp-show="@Model.ShowFoundationTag" />
        </span>
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-0">@Model.EmployerName</p>
    <p class="govuk-hint">@Model.EmploymentWorkLocation</p>
    <p class="govuk-body govuk-!-margin-bottom-0">@Model.StartedOn</p>
    <p class="govuk-hint">@Model.ClosingDate</p>
    <ul class="faa-inline-list faa-inline-list--bar govuk-!-margin-bottom-4">
        @if (!Model.IsClosed)
        {
            <li>
                <a class="govuk-link govuk-link--no-visited-state"
                    href="@Url.RouteUrl(RouteNames.Apply, new { ApplicationId = Model.Id })">
                    Continue application<span class="govuk-visually-hidden"> for @Model.Title</span>
                </a>
            </li>
        }
    </ul>
</li>
