@using SFA.DAS.FAA.Web.Infrastructure
@model SFA.DAS.FAA.Web.Models.Applications.IndexViewModel.Application
<li class="das-search-results__list-item govuk-!-margin-bottom-4">
    @if (Model.IsClosingSoon)
    {
        <strong class="govuk-tag govuk-tag--orange govuk-!-margin-bottom-2">Closing soon</strong>
    }
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
        <a class="govuk-link govuk-link--no-visited-state"
            href="@Url.RouteUrl(RouteNames.Vacancies, new { Model.VacancyReference })">
            @Model.Title
        </a>
    </h2>
    <p class="govuk-hint">@Model.EmployerName</p>
    <p class="govuk-body govuk-!-margin-bottom-0">@Model.SubmittedDate</p>
    <p class="govuk-hint">@Model.ClosingDate</p>
    <ul class="faa-inline-list faa-inline-list--bar govuk-!-margin-bottom-4">
        <li>
            <a class="govuk-link govuk-link--no-visited-state"
                href="@Url.RouteUrl(RouteNames.Applications.ViewApplication, new { applicationId = Model.Id })">View
                application</a>
        </li>
        <li>
            <a class="govuk-link" asp-route="@RouteNames.Applications.WithdrawApplicationGet"
                asp-route-applicationId="@Model.Id">Withdraw application</a>
        </li>
    </ul>
</li>