@using SFA.DAS.FAA.Web.Infrastructure
@using SFA.DAS.FAA.Web.Models.Applications
@model SFA.DAS.FAA.Web.Models.Applications.IndexViewModel.Application
<li class="das-search-results__list-item govuk-!-margin-bottom-4">
    <partial name="_VacancyTitle" model="@ValueTuple.Create(Model.Title, Model.VacancyReference,
        ApplicationsTab.Unsuccessful)" />
    <p class="govuk-body govuk-!-margin-bottom-0">@Model.EmployerName</p>
    <p class="govuk-hint">@Model.EmploymentWorkLocation</p>

    <div class="das-highlight">
        <h3 class="govuk-heading-s">Feedback</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">
            @Model.ResponseNotes
        </p>
    </div>
    <p class="govuk-body">@Model.ResponseDate</p>
    <ul class="faa-inline-list faa-inline-list--bar govuk-!-margin-bottom-4">
        <li>
            <a class="govuk-link govuk-link--no-visited-state"
                href="@Url.RouteUrl(RouteNames.Applications.ViewApplication, new { applicationId = Model.Id })">View
                application<span class="govuk-visually-hidden"> for @Model.Title</span></a>
        </li>
    </ul>
</li>