@using SFA.DAS.FAA.Web.Infrastructure
@using SFA.DAS.FAA.Web.Models.Applications
@using SFA.DAS.FAA.Domain.Enums
@model SFA.DAS.FAA.Web.Models.Applications.ApplicationViewModel;
@{
    ViewData["Title"] = $"Your application to {@Model.VacancyDetails.EmployerName} – Find an apprenticeship – GOV.UK";
    var tagName = Model.ApplicationStatus switch
    {
        ApplicationStatus.Successful => nameof(ApplicationsTab.Successful),
        ApplicationStatus.Unsuccessful => nameof(ApplicationsTab.Unsuccessful),
        _ => nameof(ApplicationsTab.Submitted)
    };
}
@section BackLink {
    <a class="govuk-back-link" asp-route="@RouteNames.Applications.ViewApplications" asp-route-tab="@tagName">Back</a>
}
@if (!string.IsNullOrEmpty(Model.BannerMessage))
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        @Model.BannerMessage
                    </p>
                </div>
            </div>
        </div>
    </div>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <govuk-tag-foundation asp-show="@Model.ShowFoundationTag" class="govuk-!-margin-bottom-4"></govuk-tag-foundation>
        <h1 class="govuk-heading-l">Your application</h1>
        <div class="govuk-body">
            @Model.VacancyDetails.Title at @Model.VacancyDetails.EmployerName.
        </div>
        <a href="#"
           class="govuk-link govuk-link--no-visited-state faa-vacancy-actions__link faa-vacancy-actions__link--print">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="faa-vacancy-actions__icon">
                <path fill="currentColor"
                      d="M128 0C92.7 0 64 28.7 64 64v96h64V64H354.7L384 93.3V160h64V93.3c0-17-6.7-33.3-18.7-45.3L400 18.7C388 6.7 371.7 0 354.7 0H128zM384 352v32 64H128V384 368 352H384zm64 32h32c17.7 0 32-14.3 32-32V256c0-35.3-28.7-64-64-64H64c-35.3 0-64 28.7-64 64v96c0 17.7 14.3 32 32 32H64v64c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V384zM432 248a24 24 0 1 1 0 48 24 24 0 1 1 0-48z" />
            </svg>Print your application
        </a>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
        <h2 class="govuk-heading-m">Personal details</h2>
        <div class="faa-flex-row">
            <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Candidate.FullName
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body govuk-!-margin-bottom-0">
                            @Model.Candidate.Address?.AddressLine1
                        </p>
                        <p class="govuk-body govuk-!-margin-bottom-0">
                            @Model.Candidate.Address?.AddressLine2
                        </p>
                        <p class="govuk-body govuk-!-margin-bottom-0">
                            @Model.Candidate.Address?.Town
                        </p>
                        <p class="govuk-body govuk-!-margin-bottom-0">
                            @Model.Candidate.Address?.County
                        </p>
                        <p class="govuk-body govuk-!-margin-bottom-0">
                            @Model.Candidate.Address?.Postcode
                        </p>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Telephone number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Candidate.PhoneNumber
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email address
                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-padding-bottom-5">
                        @Model.Candidate.Email
                    </dd>
                </div>
            </dl>
        </div>

        @if (Model.EducationHistory.Qualifications.ShowQualifications)
        {
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
            <div class="faa-flex-row">
                <h2 class="govuk-heading-m">School, college and university qualifications</h2>
            </div>
            @foreach (var group in Model.EducationHistory.Qualifications.QualificationGroups)
            {
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">@group.DisplayName</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            @foreach (var qualification in group.Qualifications)
                            {
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        @qualification.Subject
                                        @if (group.ShowAdditionalInformation)
                                        {
                                            <p class="govuk-body govuk-!-margin-top-1 govuk-hint">@qualification.AdditionalInformation</p>
                                        }
                                        @if (group.ShowLevel is true)
                                        {
                                            <p class="govuk-body govuk-!-margin-top-1 govuk-!-font-weight-bold">(Level @qualification.AdditionalInformation)</p>
                                        }
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @qualification.GradeLabel
                                    </dd>
                                </div>
                            }
                        </dl>
                    </div>
                </div>
            }
        }

        @if (Model.EducationHistory.TrainingCourses is { Count: > 0 })
        {
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
            <div class="faa-flex-row">
                <h2 class="govuk-heading-m">Training courses</h2>
            </div>
            @foreach (var trainingCourse in Model.EducationHistory.TrainingCourses)
            {
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">@trainingCourse.CourseName</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Year
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @trainingCourse.YearAchieved
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            }
        }


        @if (Model.WorkHistory.Jobs is { Count: > 0 })
        {
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
            <div class="faa-flex-row faa-no-print">
                <h2 class="govuk-heading-m">Jobs</h2>
            </div>

            @foreach (var job in Model.WorkHistory.Jobs)
            {
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">@job.JobHeader</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Responsibilities
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <div class="faa-user-content">@job.Description</div>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Dates
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @job.JobDates
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            }
        }



        @if (Model.WorkHistory.VolunteeringAndWorkExperiences is { Count: > 0 })
        {
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
            <div class="faa-flex-row">
                <h2 class="govuk-heading-m">Volunteering and work experience</h2>
            </div>
            @foreach (var experience in Model.WorkHistory.VolunteeringAndWorkExperiences)
            {
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">@experience.Employer</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    What you did
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <div class="faa-user-content">@experience.Description</div>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Dates
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @experience.JobDates
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            }
        }



        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
        <h2 class="govuk-heading-m">Application questions</h2>
        <div class="faa-flex-row">
            <h3 class="govuk-heading-s">What are your skills and strengths?</h3>
        </div>
        <div class="govuk-body govuk-!-margin-bottom-3">
            <div class="faa-user-content">@Model.AboutYou.SkillsAndStrengths</div>
        </div>
        <div class="faa-flex-row">
            <h3 class="govuk-heading-s">What interests you about this apprenticeship?</h3>
        </div>
        <div class="govuk-body govuk-!-margin-bottom-3">
            <div class="faa-user-content">@Model.WhatIsYourInterest.WhatIsYourInterest</div>
        </div>
        @if (Model.ApplicationQuestions.AdditionalQuestion1 != null)
        {
            <div class="faa-flex-row">
                <h3 class="govuk-heading-s">@Model.ApplicationQuestions.AdditionalQuestion1.QuestionLabel</h3>
            </div>
            <div class="govuk-body govuk-!-margin-bottom-3">
                <div class="faa-user-content">@Model.ApplicationQuestions.AdditionalQuestion1.Answer</div>
            </div>
        }
        @if (Model.ApplicationQuestions.AdditionalQuestion2 != null)
        {
            <div class="faa-flex-row">
                <h3 class="govuk-heading-s">@Model.ApplicationQuestions.AdditionalQuestion2.QuestionLabel</h3>
            </div>
            <div class="govuk-body govuk-!-margin-bottom-3">
                <div class="faa-user-content">@Model.ApplicationQuestions.AdditionalQuestion2.Answer</div>
            </div>
        }

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
        <div class="faa-flex-row">
            <h2 class="govuk-heading-m">Get support at an interview</h2>
        </div>
        <div class="faa-flex-row">
            <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Do you want to request support at an interview?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @(Model.InterviewAdjustments.IsSupportRequestRequired ? "Yes" : "No, I don’t need support or I’ll discuss it if I get an interview")
                    </dd>
                </div>
                @if (Model.InterviewAdjustments.IsSupportRequestRequired)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Interview support request
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <div class="faa-user-content">@Model.InterviewAdjustments.InterviewAdjustmentsDescription</div>
                        </dd>
                    </div>
                }
            </dl>
        </div>
        @if (Model.IsDisabilityConfident)
        {
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
            <div class="faa-flex-row">
                <h2 class="govuk-heading-m">Disability Confident scheme</h2>
            </div>
            <div class="faa-flex-row">
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Interview under the Disability Confident scheme
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @(Model.DisabilityConfidence.ApplyUnderDisabilityConfidentScheme ? "Yes" : "No")
                        </dd>
                    </div>
                </dl>
            </div>
        }
    </div>
</div>