@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.FAA.Web.Infrastructure
@model SFA.DAS.FAA.Web.Models.SearchResults.SearchResultsViewModel

<div>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4" />
    @if (Model.NoSearchResultsByUnknownLocation)
    {
        <h2 class="govuk-heading-m">We can't find the location you entered</h2>
        <p class="govuk-body">We don't recognise <b>@Model.Location</b>.</p>
        <p class="govuk-body">Check the location you've entered or enter a different location that's nearby.</p>
        <p class="govuk-body">Change your search by using the filters on this page or
            <a asp-route="@RouteNames.ServiceStartDefault" class="govuk-link govuk-link--no-visited-state">start a new search</a>.</p>
    }
    else
    {
        <h2 class="govuk-heading-m">No results currently match this search</h2>
        <p class="govuk-body">You may need to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>increase your search area</li>
            <li>change your selected filters</li>
        </ul>
        <p class="govuk-body">
            Create an alert to get a weekly email with new apprenticeships that match this search.
        </p>

        <hr class="govuk-section-break govuk-section-break--m"/>

        if (Model.SavedSearchLimitReached)
        {
            <div id="faa-no-results-alert">
                <div id="faa-no-results-alert--create">
                    <p>You’ve created all the search alerts you can. <a asp-route="@RouteNames.SavedSearches" class="govuk-link govuk-link--no-visited-state">Manage your alerts</a></p>
                </div>
            </div>
        }
        else
        {
            <div id="faa-no-results-alert" data-alert>
                <div id="faa-no-results-alert--create">
                    @if (User.Identity is { IsAuthenticated: true })
                    {
                        if(!Model.SearchAlreadySaved)
                        {
                            <form method="post" asp-route="@RouteNames.SaveSearch" data-alert-create="true">
                                <button type="submit" class="govuk-button govuk-button--secondary"
                                        id="faa-no-results-alert--create-button">
                                    Create alert</button>
                                <input name="Data" type="hidden" value="@Model.EncodedRequestData"/>
                            </form>
                            <div id="faa-no-results-alert--created" data-alert-confirmation style="display:none;">
                                <p class="govuk-body faa-filter-alert__confirmation">Search alert created.</p>
                            </div>
                        }
                    }
                    else
                    {
                        <a asp-route="@RouteNames.SignIn" asp-route-signInValue="@ViewBag.SignInValue"
                           class="govuk-button govuk-button--secondary">Sign in to create an alert</a>
                    }
                </div>
            </div>
        }

    }
</div>