@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.FAA.Web.Infrastructure
@model SFA.DAS.FAA.Web.Models.User.SavedSearchViewModel

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title">
            @Model.Title
        </h3>
        @if (Model.ReadOnly is false)
        {
            <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                    <a asp-route-savedSearchId="@Model.Id" asp-route="@RouteNames.DeleteSavedSearch" class="das-button--inline-link govuk-link--no-visited-state">Delete
                        <span class="govuk-visually-hidden">
                            @Model.Title
                            search alert</span></a>
                </li>
            </ul>
        }
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            @if (Model.SearchTerm is not null)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.SearchTerm
                    </dd>
                </div>
            }
            @if (Model.Location is not null)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Where
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Location
                        @if (Model.ExcludeNational != null && (bool)Model.ExcludeNational)
                        {
                            <p class="govuk-hint govuk-!-font-size-16 govuk-!-margin-top-1 faa-search-alert-hint">
                                Hide companies recruiting nationally
                            </p>
                        }
                    </dd>
                </div>
            }
            @if (Model.SelectedRoutes?.Count is > 0)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Categories</dt>
                    <dd class="govuk-summary-list__value">
                        <ul class="govuk-list govuk-list--bullet">
                            @foreach (var category in Model.SelectedRoutes)
                            {
                                <li>@category</li>
                            }
                        </ul>
                    </dd>
                </div>
            }
            @if (Model.SelectedLevelIds?.Count is > 0)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Levels</dt>
                    <dd class="govuk-summary-list__value">
                        <ul class="govuk-list govuk-list--bullet">
                            @foreach (var level in Model.SelectedLevelIds)
                            {
                                <li>Level @level</li>
                            }
                        </ul>
                    </dd>
                </div>
            }
            @if (Model.DisabilityConfident)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Disability confident
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Only show Disability Confident apprenticeships
                    </dd>
                </div>
            }
        </dl>
    </div>
</div>